@model IEnumerable<Course_Project.Models.Teacher>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="form-actions no-color">
<form asp-action="Index" method="get">
    <p>
        Name:   <input type="text" name="SearchStringName" value="@ViewData["CurrentFullNameFilter"]" /><br /><br />
        Address: <input type="text" name="SearchStringNationality" value="@ViewData["CurrentAddressFilter"]" />
    </p>
    <p>
        <br />
        <input type="submit" value="Search"  class="btn btn-dark" /> |
        <a  asp-action="Index">Back to Full List</a>
    </p>
</form>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                <a style="color:black" asp-action="Index" asp-route-sortOrder="@ViewData["FullNameSortParm"]">@Html.DisplayNameFor(model => model.FullName)</a>
            </th>
            <th>
                <a style="color:black" asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]">@Html.DisplayNameFor(model => model.Date)</a>
            </th>
            <th>
                <a style="color:black" asp-action="Index" asp-route-sortOrder="@ViewData["AddressSortParm"]">@Html.DisplayNameFor(model => model.Address)</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
